[submodule "rtl/verilog-axi"]
	path = rtl/verilog-axi
	url = https://github.com/alexforencich/verilog-axi.git
[submodule "rtl/ravenoc"]
	path = rtl/ravenoc
	url = https://github.com/aignacio/ravenoc.git
[submodule "tb/elfio"]
	path = tb/elfio
	url = https://github.com/serge1/ELFIO
